* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100%;
}

hr {
    width: 200px;
    height: 200px;
}

#container {
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
}
 
header {
    border-bottom: 3px solid rgb(0, 0, 0);
}
  
.title {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    margin: 7px 0 7px 0;
    letter-spacing: 2px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
  
#boardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.tile {
    /* Box */
    border: 2px solid rgb(166, 165, 165);
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #71e067;
    color: white;
    border-color: white;
}

.present {
    background-color: #ffe658;
    color: white;
    border-color: white;
}

.absent {
    background-color: #44434b;
    color: white;
    border-color:white;
}

.enter-key-tile {
    width: 106px;
    height: 58px;
    margin: 1px;
    border: 0;
    border-radius: 4px;
    border: 2px solid rgb(166, 165, 165);


    /* Text */
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.key-tile {
    width: 50px;
    height: 58px;
    margin: 1px;
    border: 2px solid rgb(166, 165, 165);
    border-radius: 4px;


    /* Text */
    font-size: 20px;
    font-weight: bold;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.key-tile:hover {
    background-color: rgb(172, 172, 172);
}

.keyboard-row {
    width: 550px;
    height: auto;

    margin: 0 auto 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    touch-action: manipulation;

}

#answer {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
}